# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter runtime
*.log
*.swp
